{{!-- <h1>Detail </h1>
<h1>{{course.name}}</h1> --}}

<div class='container mt-4'>
    <div class='row'>

        <div class='col-3'>
        </div>
        <div class='col-9'>
            <div>
                <h2>{{product.title}}</h2>

                <h4>{{product.description}}</h4>


            </div>
        </div>
    </div>
</div>